#Claude
OPENAI_API_KEY=your-api-key-here
#Gemini
GOOGLE_API_KEY= your-api-key-here

#Database
DATABASE_URL=postgresql://postgres.your-project-ref:your-password@aws-0-region.pooler.supabase.com:5432/postgres

#Naver API
NAVER_CLIENT_ID=your_client_id
NAVER_CLIENT_SECRET=your_client_secret